NiFi/UPM_AssessCoils_v2.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>NiFi WorkFlow with MQTT activation for Coil Assessment</description>
    <groupId>01891000-9515-15d2-145e-595b9872addd</groupId>
    <name>UPM_AssessCoils_v2</name>
    <snippet>
        <connections>
            <id>1defce4b-0549-354e-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <versionedComponentId>1defce4b-0549-354e-8491-6b074827e1c0</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>441.010498046875</x>
                <y>307.7174987792969</y>
            </bends>
            <bends>
                <x>479.16748046875</x>
                <y>306.12762451171875</y>
            </bends>
            <bends>
                <x>647.694091796875</x>
                <y>306.12762451171875</y>
            </bends>
            <destination>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>880f4a5f-16fa-358c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>880f4a5f-16fa-358c-83aa-ad3b9b0b9915</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>2a8146a9-cf2b-38a4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2a8146a9-cf2b-38a4-9ec0-29574722a10d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1f37354c-be69-39d7-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>e0c9aa34-857a-3ff2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>31f9a9f1-14fa-301f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>31f9a9f1-14fa-301f-8bee-4fe1746436f5</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>30e60361-07be-3bc4-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>176.0</x>
                <y>176.0</y>
            </bends>
            <destination>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>2a8146a9-cf2b-38a4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2a8146a9-cf2b-38a4-9ec0-29574722a10d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Message</selectedRelationships>
            <source>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>e750e59c-aa4d-3ab1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7a1e520a-fb8c-3bd4-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>2e689f2e-c595-3bf0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>e0c9aa34-857a-3ff2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b3f08258-d51a-3ef2-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <versionedComponentId>b3f08258-d51a-3ef2-b2a6-95bbe841af68</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>1a2d4858-9995-3ef4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1a2d4858-9995-3ef4-a961-9385ff32e233</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>31f9a9f1-14fa-301f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>31f9a9f1-14fa-301f-8bee-4fe1746436f5</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fd4af4f5-3cb5-306b-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <versionedComponentId>fd4af4f5-3cb5-306b-bf0f-2de8a91f4240</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>31f9a9f1-14fa-301f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>31f9a9f1-14fa-301f-8bee-4fe1746436f5</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>2c19de8e-0195-323a-0000-000000000000</groupId>
                <id>2a8146a9-cf2b-38a4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2a8146a9-cf2b-38a4-9ec0-29574722a10d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>1a2d4858-9995-3ef4-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <position>
                <x>680.0</x>
                <y>496.0</y>
            </position>
            <versionedComponentId>1a2d4858-9995-3ef4-a961-9385ff32e233</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>
                            <name>SMTP Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>
                            <name>SMTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>
                            <name>SMTP Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                        <value>
                            <name>SMTP Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>
                            <name>SMTP Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>
                            <name>SMTP TLS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>
                            <name>SMTP Socket Factory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>
                            <name>SMTP X-Mailer Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>
                            <name>From</name>
                        </value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>
                            <name>To</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CC</key>
                        <value>
                            <name>CC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BCC</key>
                        <value>
                            <name>BCC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>
                            <name>Subject</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message</key>
                        <value>
                            <name>Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>
                            <name>email-ff-content-as-message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>input-character-set</key>
                        <value>
                            <name>input-character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>
                            <name>Attach File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>
                            <name>Include All Attributes In Message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>mail.smtp2go.com</value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>2525</value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>deepquality</value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>javax.net.ssl.SSLSocketFactory</value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>NiFi</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>text/plain</value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>bot.deepquality@cetic.be</value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>j.ordieres@upm.es</value>
                    </entry>
                    <entry>
                        <key>CC</key>
                    </entry>
                    <entry>
                        <key>BCC</key>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>Message from NiFi: Coil Assessment</value>
                    </entry>
                    <entry>
                        <key>Message</key>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>input-character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutEmail</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
            <id>2a8146a9-cf2b-38a4-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>240.0</y>
            </position>
            <versionedComponentId>2a8146a9-cf2b-38a4-9ec0-29574722a10d</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Extract the ID of the feedback provided by operators related to specific coils.
The ID will be crated as argument ${id_db}</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>coilid</key>
                        <value>
                            <name>coilid</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-content</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>coilid</key>
                        <value>$.SID</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>2e689f2e-c595-3bf0-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <position>
                <x>680.0</x>
                <y>736.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>
                            <name>SMTP Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>
                            <name>SMTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>
                            <name>SMTP Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                        <value>
                            <name>SMTP Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>
                            <name>SMTP Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>
                            <name>SMTP TLS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>
                            <name>SMTP Socket Factory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>
                            <name>SMTP X-Mailer Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>
                            <name>From</name>
                        </value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>
                            <name>To</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CC</key>
                        <value>
                            <name>CC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BCC</key>
                        <value>
                            <name>BCC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>
                            <name>Subject</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message</key>
                        <value>
                            <name>Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>
                            <name>email-ff-content-as-message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>input-character-set</key>
                        <value>
                            <name>input-character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>
                            <name>Attach File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>
                            <name>Include All Attributes In Message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>mail.smtp2go.com</value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>2525</value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>deepquality</value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>javax.net.ssl.SSLSocketFactory</value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>NiFi</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>text/plain</value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>bot.deepquality@cetic.be</value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>j.ordieres@upm.es</value>
                    </entry>
                    <entry>
                        <key>CC</key>
                    </entry>
                    <entry>
                        <key>BCC</key>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>Message from NiFi: SandBox:01-Error-PublishMQTT</value>
                    </entry>
                    <entry>
                        <key>Message</key>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>input-character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutEmail</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
            <id>31f9a9f1-14fa-301f-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>488.0</y>
            </position>
            <versionedComponentId>31f9a9f1-14fa-301f-8bee-4fe1746436f5</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>argumentsStrategy</key>
                        <value>
                            <name>argumentsStrategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>argumentsStrategy</key>
                        <value>Command Arguments Property</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>/opt/nifi/data/jupyter/upm/scripts/runEvalCoil.sh;$coilid</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/bin/bash</value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>/opt/nifi/data/jupyter/upm/scripts/</value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>result</value>
                    </entry>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteStreamCommand</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
            <id>880f4a5f-16fa-358c-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <position>
                <x>680.0</x>
                <y>240.0</y>
            </position>
            <versionedComponentId>880f4a5f-16fa-358c-83aa-ad3b9b0b9915</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>
                            <name>SMTP Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>
                            <name>SMTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>
                            <name>SMTP Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                        <value>
                            <name>SMTP Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>
                            <name>SMTP Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>
                            <name>SMTP TLS</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>
                            <name>SMTP Socket Factory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>
                            <name>SMTP X-Mailer Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>
                            <name>From</name>
                        </value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>
                            <name>To</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CC</key>
                        <value>
                            <name>CC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BCC</key>
                        <value>
                            <name>BCC</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>
                            <name>Subject</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message</key>
                        <value>
                            <name>Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>
                            <name>email-ff-content-as-message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>input-character-set</key>
                        <value>
                            <name>input-character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>
                            <name>Attach File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>
                            <name>Include All Attributes In Message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>SMTP Hostname</key>
                        <value>mail.smtp2go.com</value>
                    </entry>
                    <entry>
                        <key>SMTP Port</key>
                        <value>2525</value>
                    </entry>
                    <entry>
                        <key>SMTP Username</key>
                        <value>deepquality</value>
                    </entry>
                    <entry>
                        <key>SMTP Password</key>
                    </entry>
                    <entry>
                        <key>SMTP Auth</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>SMTP TLS</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>SMTP Socket Factory</key>
                        <value>javax.net.ssl.SSLSocketFactory</value>
                    </entry>
                    <entry>
                        <key>SMTP X-Mailer Header</key>
                        <value>NiFi</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>text/plain</value>
                    </entry>
                    <entry>
                        <key>From</key>
                        <value>bot.deepquality@cetic.be</value>
                    </entry>
                    <entry>
                        <key>To</key>
                        <value>j.ordieres@upm.es</value>
                    </entry>
                    <entry>
                        <key>CC</key>
                    </entry>
                    <entry>
                        <key>BCC</key>
                    </entry>
                    <entry>
                        <key>Subject</key>
                        <value>Message from NiFi: Issue Pooling V_Coils</value>
                    </entry>
                    <entry>
                        <key>Message</key>
                    </entry>
                    <entry>
                        <key>email-ff-content-as-message</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>input-character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Attach File</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Include All Attributes In Message</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutEmail</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
            <id>e0c9aa34-857a-3ff2-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>736.0</y>
            </position>
            <bundle>
                <artifact>nifi-mqtt-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Broker URI</key>
                        <value>
                            <name>Broker URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>
                            <name>MQTT Specification Version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>
                            <name>Session state</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Session Expiry Interval</key>
                        <value>
                            <dependencies>
<dependentValues>5</dependentValues>
<propertyName>MQTT Specification Version</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>false</dependentValues>
<propertyName>Session state</propertyName>
                            </dependencies>
                            <name>Session Expiry Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                        <value>
                            <name>Client ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Topic</key>
                        <value>
                            <name>Topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Retain Message</key>
                        <value>
                            <name>Retain Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>
                            <name>Quality of Service(QoS)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>
                            <name>Connection Timeout (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>
                            <name>Keep Alive Interval (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                        <value>
                            <name>Last Will Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                        <value>
                            <dependencies>
<propertyName>Last Will Message</propertyName>
                            </dependencies>
                            <name>Last Will Topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                        <value>
                            <dependencies>
<propertyName>Last Will Message</propertyName>
                            </dependencies>
                            <name>Last Will Retain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                        <value>
                            <dependencies>
<propertyName>Last Will Message</propertyName>
                            </dependencies>
                            <name>Last Will QoS Level</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Broker URI</key>
                        <value>tcp://emqx-listeners:1883</value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>upm</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Session Expiry Interval</key>
                        <value>24 hrs</value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                    </entry>
                    <entry>
                        <key>Topic</key>
                        <value>coilready</value>
                    </entry>
                    <entry>
                        <key>Retain Message</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>2</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>30</value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>60</value>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                        <value>0</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishMQTT</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.mqtt.PublishMQTT</type>
        </processors>
        <processors>
            <id>e750e59c-aa4d-3ab1-0000-000000000000</id>
            <parentGroupId>2c19de8e-0195-323a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-mqtt-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Broker URI</key>
                        <value>
                            <name>Broker URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>
                            <name>MQTT Specification Version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>
                            <name>Session state</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Session Expiry Interval</key>
                        <value>
                            <dependencies>
<dependentValues>5</dependentValues>
<propertyName>MQTT Specification Version</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>false</dependentValues>
<propertyName>Session state</propertyName>
                            </dependencies>
                            <name>Session Expiry Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                        <value>
                            <name>Client ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group ID</key>
                        <value>
                            <name>Group ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Topic Filter</key>
                        <value>
                            <name>Topic Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>
                            <name>Quality of Service(QoS)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>add-attributes-as-fields</key>
                        <value>
                            <dependencies>
<propertyName>record-reader</propertyName>
                            </dependencies>
                            <name>add-attributes-as-fields</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>
                            <name>Connection Timeout (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>
                            <name>Keep Alive Interval (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                        <value>
                            <name>Last Will Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                        <value>
                            <dependencies>
<propertyName>Last Will Message</propertyName>
                            </dependencies>
                            <name>Last Will Topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                        <value>
                            <dependencies>
<propertyName>Last Will Message</propertyName>
                            </dependencies>
                            <name>Last Will Retain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                        <value>
                            <dependencies>
<propertyName>Last Will Message</propertyName>
                            </dependencies>
                            <name>Last Will QoS Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Queue Size</key>
                        <value>
                            <name>Max Queue Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Broker URI</key>
                        <value>tcp://emqx-listeners:1883</value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>upm</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Session Expiry Interval</key>
                        <value>24 hrs</value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                    </entry>
                    <entry>
                        <key>Group ID</key>
                    </entry>
                    <entry>
                        <key>Topic Filter</key>
                        <value>assesscoil</value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>2</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                    </entry>
                    <entry>
                        <key>add-attributes-as-fields</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>30</value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>60</value>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Max Queue Size</key>
                        <value>2048</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeMQTT</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Message</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
        </processors>
    </snippet>
    <timestamp>03/08/2024 09:12:40 UTC</timestamp>
</template>
